.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 50;

  background-color: rgba(0, 0, 0, 0.5);
}

.body {
  position: fixed;
  z-index: 100;

  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  min-width: 30px;
  min-height: 30px;
  max-height: 100%;

  background-color: var(--white-color);
  border-radius: 10px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  animation: fadeIn 0.2s linear, growth 0.2s linear;

  .closeIcon {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 15px;
    height: 15px;
  }

  .closeBtn {
    display: block;
    cursor: pointer;
    // padding: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
