@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Rhodium Libre', sans-serif;
  box-sizing: border-box;
}

// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}

button,
input,
textarea {
  font-family: 'Rhodium Libre', serif;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

//variable
:root {
  --white-color: #fff;
  --black-color: #000;
  --footer-color: #1b4c29db;

  --green-color: #00a650;
  --light-green-color: #47d864;
  --red-color: #ee2c4a;
  --yellow-color: #eda500;
  --light-yellow-color: #ffc021;
  --blue-color: #0046ab;
  --light-blue-color: #89b4fa;
  --sky-blue-color: #2f86eb;
  --gray-color: #ccc;
  --purple-color: #c688eb;
  --pink-color: #e4a4e4;
  --peach-color: #fab387;

  --medium-gray-color: #666;
  --darker-gray-color: #999;

  --gray-background-color: #f5f5f5;

  --text-color: #000;
  --text-color2: #666;
  --link-color: #2196f3;
  --primary-color: #fb9701;
  --button-hover-color: #fd9451db;
  --button-hover-color1: #949cb4;
  --disabled-color: #b7bec6;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --darker-box-shadow-color: rgba(0, 0, 0, 0.5);

  --separator-color: #e0e0e0;

  --header-height: 62px;
}
