.wrapper {
  background-color: var(--white-color);
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  min-height: 600px;

  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--gray-color);
  }

  .addresses {
    height: 100%;
  }

  .addressCard {
    margin-bottom: 20px;
  }
}
