.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.greenTick {
  margin-bottom: 45px;
}

.sub {
  margin-bottom: 14px;
  font-size: 2.4rem;
}

.text {
  font-size: 2rem;
}
