.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sidebar {
  background-color: #fff;
  border-right: 1px solid #e0e0e0;

  .title {
    font-size: 2.8rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
  }

  .categories {
    flex-direction: column;
    margin-top: 30px;
    height: 100%;

    .item {
      display: block;
      color: var(--text-color);
      font-size: 2.2rem;
      margin-bottom: 16px;

      &:hover {
        cursor: pointer;
        color: var(--button-hover-color1);
      }
    }

    .item.active {
      color: var(--primary-color);
    }
  }
}

.main {
  .title {
    font-size: 2.4rem;
  }
  .container {
    margin-top: 30px;
  }
}
