.button {
  display: flex;
  align-items: center;

  .language {
    width: 200px;
    height: 60px;

    .languageIcon {
      margin-left: 14px;
      width: 25px;
      height: 25px;
    }

    .languageTitle {
      font-size: 2.2rem;
      line-height: 2.2rem;
    }
  }
}

.innerModal {
  width: 380px;
  height: 120px;
  padding: 20px;
  border-radius: 5px;

  .modalTitle {
    color: var(--black-color);
    font-size: 2.3rem;
    width: 100%;
    border-bottom: 1px solid var(--black-color);
  }

  .languageList {
    width: 85%;

    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    .languageElement {
      font-size: 2.2rem;
    }

    .inactive {
      &:hover {
        cursor: pointer;
        color: var(--gray-color);
      }
    }

    .active {
      color: var(--primary-color);
    }
  }
}
