.itemWrapper {
  margin-top: 20px;
  margin-bottom: 40px;
}

.header {
  margin-top: 50px;
}

.lineHeader {
  border: 2px solid var(--separator-color);
  width: 100%;
  margin-top: 10px;
}

.card {
  margin-bottom: 40px;
}
