.wrapper {
  background-color: var(---white-color);
  box-shadow: 0 0 5px var(--darker-box-shadow-color);
  margin-bottom: 2px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(---white-color);
}

.navbarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  line-height: 0px;

  &:first-child {
    .navbarItem {
      margin-right: 40px;
    }
  }

  &:last-child {
    .navbarItem {
      margin-left: 40px;
    }
  }
}

.navbarLink {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;

  padding: 0 12px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &:hover {
    color: var(--primary-color);
  }
}
