.page {
  background-color: var(--gray-background-color);
}

.wrapper {
  padding: 100px 0;
  margin: 0 auto;
  width: 850px;
}

.section {
  margin-bottom: 50px;
}

.header {
  margin-bottom: 20px;
  font-size: 3rem;
  width: 100%;
}

.orderHeader {
  margin-bottom: 10px;
}

.subTitle {
  margin-bottom: 30px;
  color: var(--darker-gray-color);
  font-size: 2rem;
}

.card {
  margin-bottom: 20px;
}

.control {
  font-size: 2.1rem;
  padding: 10px;
  color: var(--primary-color);

  &:hover {
    cursor: pointer;
    color: var(--gray-color);
  }
}

.totalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--gray-color);
  text-align: center;
}

.total {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 4rem;
  color: var(--red-color);
}

.price {
  font-size: 3.5rem;
  color: var(--darker-gray-color);
}

.completeBtn {
  width: 40%;
  height: 70px;
  font-size: 2.2rem;
  margin-top: 50px;
}
